.App {
  text-align: center;
}

.Box {
  text-align: left;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgrey;
  height: 300px;
  width: 400px;
}

button {
  height: auto;
  width: auto;
  background-color: orange;
}

input {
  border-radius: 2px;
}

input:focus {
  border-color: orange;
}

img {
  height: 150px;
  margin-top: -42px;
}